@import "../../styles/colors.scss";

.wallet {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: fit-content;
	//padding: 0 2rem 2rem 2rem;

	color: #fff;

	border-radius: 2rem;

	--distance: 17rem;
	--scale: 0.8;

	.card {
		z-index: 1;

		width: 33rem;
		height: 20rem;

		background-color: $foreground;
		border-radius: 2rem;

		box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.5);

		&:not(:first-child) {
			margin-top: calc(var(--distance) * -1);
		}
		&:nth-of-type(1) {
			transform: scale(0.8);
		}
		&:nth-of-type(2) {
			transform: scale(0.9);
		}
	}

	.heroCard {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		height: fit-content;

		padding: 2.5rem 2rem 2rem;

		h2 {
			margin: 0 0 1rem;
			padding: 0;
		}

		label {
			margin-bottom: 0.5rem;
			opacity: 0.45;
		}

		.inputs {
			display: flex;
			flex-direction: column;
			width: 100%;
		}

		input,
		button,
		textarea {
			font-size: 1rem;

			padding: 0.5rem;

			background-color: $interaction;
			border-radius: 0.8rem;
			border: none;

			color: #fff;
		}

		input {
			margin-bottom: 0.5rem;
		}

		button {
			padding: 1rem;
			margin-top: 2rem;

			background-color: $action;
			cursor: pointer;
		}
	}
}
